.content {
    height:100%;
    background-color: aqua;
    align-items: center;
    justify-content: center;
}

.cards {
display: flex;
align-items: center;
justify-content: center;
}

.card {
padding: 4em;
max-width: 15%;
}